* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Bangers';
    src: url('../assets/fonts/Bangers-Regular.ttf');
}

body {
    height: 100vh;
    background-color: black;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 5fr 10fr 24px;
    /* background-image: url('../assets/battle-background.webp'); */
}

:root {
    --box-size: 45px;
    --grid-color: #64748b;
    --grid-highlight: #455f85;
    --fisher-width: calc(var(--box-size) * 0.7);
    --galley-width: calc(var(--box-size) * 0.8);
    --frigate-width: calc(var(--box-size) * 0.9);
    --destroyer-width: var(--box-size);
    --ship-height-margin: 0px;
}

/* Start screen */
.welcome-container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/welcome-background.jpeg');
    background-size: cover;
    background-position: 0 60%;
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    z-index: 5;
}

.welcome-exit {
    transform: translateX(-100%); /* Slide out to the left */
}

.welcome-btn-container, .game-dialog {
    background-color: #082f49;
    border-radius: 50px;
    width: 800px;
    height: 300px;
    padding: 50px 20px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 6px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.welcome-header, .dialog-header  {
    color: white;
    text-align: center;
    font-size: 40px;
}

.welcome-header {
    text-transform: uppercase;
    letter-spacing: 0.25ch;
}

.welcome-btn-row {
    display: flex;
    justify-content: space-around;
}

.welcome-btn {
    background-color: #0284c7;
    font-size: 24px;
    border: none;
    outline: none;
    padding: 16px 32px;
    border-radius: 20px;
    transition-duration: 0.2s;
    color: white;
}

.welcome-btn:hover {
    cursor: pointer;
    background-color: #0ea5e9;
}

/* Game over */
.game-dialog, .info-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
}

.game-dialog::backdrop {
    background: rgba(1, 11, 46, 0.5);
}

.dialog-subheader {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
}

.dialog-container {
    width:100%;
    height:100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Header styling */
.top-banner {
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    grid-row: 1/2;
}

.battleships-header {
    /* height: 200px; */
    width: 1000px;
    border-radius: 40px;
}

.header-text {
    font-size: 100px;
    color: white;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    text-shadow: 10px 10px black;
    font-family: 'Bangers';
}

/* Grid styling */
.grid-container {
    user-select: none;
}

.grid-container, .grid-container * {
    user-select: none;
}

.grid-row {
    display: flex;
}

.box, .coordinate {
    max-width: 55px;
    flex:1;
    aspect-ratio: 1;
}

.box {
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--grid-color);
    transition-duration: 0.3s;
    position: relative;
    width: var(--box-size);
    height: var(--box-size);
}

.box.box-free {
    background-color: rgba(34, 197, 94, 0.8);
}

#opponent-grid .box:hover {
    background-color: var(--grid-highlight);
}

#opponent-grid .box.box-miss:hover {
    background-color: var(--grid-color);
}

#opponent-grid .box.box-miss:hover, 
#opponent-grid .box.box-hit:hover, 
#opponent-grid .box.box-ship:hover {
    background-color: var(--grid-color);
}

.box-miss > .inner-box {
    background-color: white;
    box-shadow: 2px 2px 6px 0 black;
}

.box-hit > .inner-box {
    background-image: url("../assets/explosion.png");
    background-size: contain;
    width: calc(var(--box-size)/1.5);
    height: calc(var(--box-size)/1.5);
    z-index: 50;
}

#opponent-grid .box {
    cursor: url("../assets/target.png") 25 15, auto;
}

.placed-ship {
    position: absolute;
    /* transform: translate(25%, 0); */
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    z-index: 10;
    pointer-events: none;
}

.placed-ship.horizontal {
    left:0;
    top:50%;
    transform: rotate(90deg) translate(-50%,-100%);
    transform-origin: top left;
}

.inner-box {
    width: calc(var(--box-size)/2.5);
    height: calc(var(--box-size)/2.5);
    background-color: #1e293b;
    border-radius: 50%;
}

.coordinate {
    color: white;
    text-align: center;
    vertical-align: center;
    width: var(--box-size);
    line-height: var(--box-size);
    font-size: 18px;
    font-weight: 700;
    cursor: alias;
    user-select: none;
}

/* Game sizing */
.game-container {
    grid-row: 2/3;
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
    width: 100%;
}

.player-name {
    /* margin-left: var(--box-size); */
    color: white;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 30px;
}

/* Gallery */
.gallery {
    padding: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    width: 600px;
    height: calc(10*var(--box-size));
    border-radius: 20px;
    background: radial-gradient(
        circle,
        rgba(0, 51, 102, 0.9) 0%,   
        rgba(0, 76, 102, 0.8) 40%,  
        rgba(0, 102, 102, 0.7) 60%, 
        rgba(0, 128, 128, 0.65) 90%, 
        rgba(0, 153, 153, 0.6) 100% 
      )
    }

.boat-gallery {
    -webkit-user-drag: none;
    grid-column: span 2;
    z-index: 15;
}

.ship-container {
    grid-column: span 2;
    align-self: center;
    justify-self: center;
}

.ship-container:nth-child(4) {
    grid-column: span 3;
}

.boat-gallery:hover {
    cursor:grab;
}

.boat-gallery:active {
    cursor: grabbing;
}

.fisher-gallery {
    height:calc(var(--box-size) * 2 - var(--ship-height-margin));
    width: var(--fisher-width);
}

.galley-gallery {
    height:calc(var(--box-size) * 3 - var(--ship-height-margin));
    width: var(--galley-width);}

.frigate-gallery {
    height:calc(var(--box-size) * 4 - var(--ship-height-margin));
    width: var(--frigate-width);
}

.boat-gallery.frigate-gallery {
    grid-column: span 3;
}

.destroyer-gallery {
    height:calc(var(--box-size) * 5 - var(--ship-height-margin));
    width: var(--destroyer-width);
}

.horizontal {
    transform: rotate(90deg);
}

/* Buttons */
.button-container {
    grid-row: 3/4;
    margin: 0 auto;
    padding: 20px;
}

.start-btn {
    padding: 16px 40px;
    border-radius: 20px;
    font-size: 32px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    font-weight: 700;
}

.start-btn.active-btn {
    background-color: green;
}

.active-btn:hover {
    cursor: pointer;
}

/*Footer*/
.credits {
    grid-row: 4/5;
    left: 0;
    bottom: 0;
    width: 100%;
    height:24px;
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    z-index: 100;;
}

.odin-img {
    height:20px;
}

/* Info modal */
.banner-subheader {
    padding: 16px 40px;
    border-radius: 20px;
    background-color:#0c4a6e;
    box-shadow: 6px 6px 10px 0 black;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.subheader-title {
    color:white;
    font-size: 28px;
    font-weight: 700;
}

.subheader-info {
    color:white;
    font-size: 20px;
}

/* Game over */
.info-dialog {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -20%);
}


.info-dialog {
    background-color: #082f49;
    border-radius: 50px;
    width: fit-content;
    height: 250px;
    padding: 50px 20px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 6px 2px black;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    opacity: 0;
    transition-duration: 0.5s;
}

#active-info {
    opacity: 1;
}

.confirm-btn {
    margin-top: auto;
    background-color: #16a34a;
    border: 2px solid white;
    width:30px;
    box-sizing: content-box;
    padding: 8px;
    border-radius: 50%;
    transition-duration: 0.3s;
}

.confirm-btn:hover {
    cursor: pointer;
    background-color: #4ade80;
}