* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
}

body {
    height: 100vh;
    background-color: black;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 4fr 10fr 3fr;
}

:root {
    --box-size: 40px;
    --grid-color: #64748b;
}

/* Start screen */
.welcome-container {
    display: grid;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/welcome-background.jpeg');
    background-size: cover;
    background-position: 0 60%;
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.welcome-exit {
    transform: translateX(-100%); /* Slide out to the left */
}

.welcome-btn-container, .game-dialog {
    background-color: #082f49;
    border-radius: 50px;
    width: 800px;
    height: 300px;
    padding: 50px 20px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 6px 2px black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.welcome-header, .dialog-header  {
    color: white;
    text-align: center;
    font-size: 40px;
}

.welcome-header {
    text-transform: uppercase;
    letter-spacing: 0.25ch;
}

.welcome-btn-row {
    display: flex;
    justify-content: space-around;
}

.welcome-btn {
    background-color: #0284c7;
    font-size: 24px;
    border: none;
    outline: none;
    padding: 16px 32px;
    border-radius: 20px;
    transition-duration: 0.2s;
    color: white;
}

.welcome-btn:hover {
    cursor: pointer;
    background-color: #0ea5e9;
}

/* Game over */
.game-dialog {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -20%);
}

.game-dialog[open] {
    opacity: 0.75;
}

.game-dialog::backdrop {
    background: rgba(1, 11, 46, 0.5);
}

.dialog-subheader {
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 100;
}

.dialog-container {
    width:100%;
    height:100%;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Header styling */
.top-banner {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 40px 0;
    grid-column: 1/-1;
}

.battleships-header {
    height: 200px;
    width: 1000px;
    border-radius: 40px;
}

/* Grid styling */
.grid-container {
    flex: 1;
}

.grid-container, .grid-container * {
    user-select: none;
}

.grid-row {
    display: flex;
}

.box, .coordinate {
    max-width: 55px;
    flex:1;
    aspect-ratio: 1;
}

.box {
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
}

.box-empty.box-free {
    background-color: rgba(34, 197, 94, 0.8);
}

.coordinate {
    color: white;
    text-align: center;
    vertical-align: center;
    line-height: var(--box-size);
    font-size: 18px;
    font-weight: 700;
    cursor: alias;
    user-select: none;
}

.box-empty {
    background-color: var(--grid-color);
}

.box-empty:hover {
    cursor: pointer;
}

.box-ship {
    background-color:var(--grid-color);
}

.box-hit {
    background-color:var(--grid-color);
}

.box-miss {
    background-color:var(--grid-color);
}

.box-miss > .inner-box {
    background-color: white;
    box-shadow: 2px 2px 6px 0 black;
}

.box-hit > .inner-box {
    background-color: red;
    box-shadow: 2px 2px 6px 0 black;
}

.box-ship > .inner-box {
    background-color: #0284c7;
    width: calc(var(--box-size)/1.5);
    height: calc(var(--box-size)/1.5);
    box-shadow: 2px 2px 6px 0 black;
}

.inner-box {
    width: calc(var(--box-size)/3);
    height: calc(var(--box-size)/3);
    background-color: #1e293b;
    border-radius: 50%;
}

/* Game sizing */

.game-container {
    grid-column: 2/3;
    display: flex;
    gap: 100px;
    justify-content: center;
    padding-top: 20px;
    box-sizing: border-box;
    width: 100%;
}

.main-section {
    flex:1;
}

.player-name {
    margin-left: var(--box-size);
    color: white;
    margin-bottom: 10px;
    font-weight: 100;
    font-size: 30px;
}

/* Gallery */
.gallery {
    padding: 40px 16px;
    background-color: gray;
    grid-row: 2/3;
    width: max(fit-content, 400px);
    margin: 100px auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 700;
    gap:40px;
    height:500px;
}

.ship {
    background-color: #0284c7;
    display: flex;
    width: fit-content;
    gap: 30px;
    padding: 10px 30px;
    border-radius: 20%;
}

.ship:hover {
    cursor: pointer;
}

/* Buttons */
.button-container {
    grid-row: 3/4;
    grid-column: 2/3;
    margin: 0 auto;
}

.start-btn {
    padding: 20px 48px;
    border-radius: 20px;
    font-size: 32px;
    border: none;
    outline: none;
    background-color: green;
    color: white;
    font-weight: 700;
}

.start-btn:hover {
    cursor: pointer;
}